<form>
  <div class="mb-3">
    <label for="FromCity" class="form-label">From City</label>
    <input type="text" class="form-control" id="From City" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="ToCity" class="form-label">To</label>
    <input type="text" class="form-control" id="To City">
  </div>
  <button type="submit" class="btn btn-primary" id="Submit">Go</button>
</form>

