<div class="row">
  <div class="card-auto">
    <h2 style="color: white;">Welcome, {{name}}!</h2>
  </div>
</div>


  <div class="card" style="width: 22rem;">
  <h5 class="card-header">View Your Recent Trips</h5>
  <ol class="list-group list-group-numbered">
  <li class="list-group-item">Chicago to Los Angeles 30 Hr 2,014.9</li>
  <li class="list-group-item">Oklahoma City to Winona Arizona 12 hr 11 min (848.6 mi) via I-40 W</li>
  <li class="list-group-item">San Bernardino to Joplin Missouri 21 hr 24 min (1,499.4 mi) via I-40 E</li>
  <li class="list-group-item">Barstow California to Kingman Arizona 3 hr 1 min (206.2 mi) via I-40 E</li>
  <li class="list-group-item">Gallup NM to Flagstaff Arizona 2 hr 45 min (185.1 mi) via I-40 W</li>
</ol>

  </div>
  </div>
</div>
  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
