
  <div class="card" style="width: 22rem;">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
<div class="card">
  <div class="col-md-4">
      <h5 class="card-title">First Name</h5>
    <input type="text" class="form-control" id="validationDefault01" value="Mark" required>
  </div>
  <div class="col-md-4">
      <h5 class="card-title">Last Name</h5>
    <input type="text" class="form-control" id="validationDefault02" value="Otto" required>
  </div>
  <div class="col-md-4">
      <h5 class="card-title">Username</h5>
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2">@</span>
      <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>
 
    <p class="card-text">Lets Travel !</p>
<div class="col-12"></div>

    <button class="btn btn-primary" type="submit" style="color: white;">Submit form</button>
  </div>
  </div>
</div>
