<div class="row">
  <div class="col-md-6">
    <h2>Sign Up Here!</h2>
    <hr>
    <div id="email" class="form-group" data-step="1"> 
      <label>Enter your Email</label>
      <input id="email-input" class="form-control" type="text">
    </div>
<div id="password" class="form-group final" data-step="2"> 
      <label for="password-input">Enter your Password</label>
      <input id="password-input" class="form-control" type="password">
    </div>
  <p id="error message"></p>


   </div>
  </div>
</div>